@import url(./blocks/header.css);
@import url(./blocks/preview.css);
@import url(./blocks/company.css);
@import url(./blocks/services.css);

body {
    font-family: var(--main-fonts);
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);
    min-height: 100%;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}

.button {
    line-height: 28px;
    padding: 20px 35px;
    border-radius: 14px;
    cursor: pointer;
}
