.preview {
    display: flex;
    justify-content: space-between;
    margin-block-start: 70px;
}

.preview-info {
    width: 531px;
    max-width: 100%;
}

.preview-title{
    font-size: 60px;
    font-weight: 600;
}

.preview-subtitile {
    margin-block-start: 35px;
    line-height: 28px;
    width: 498px;
}

.preview-button {
    background-color: var(--color-button);
    color: var(--dark-text-color);
    margin-block-start: 35px;
    transition: var(--transition);
}

.preview-button:hover {
    background-color: var(--accent);
    color: var(--text-color);
    transition: var(--transition);
}